@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);

html, body { 
	overflow-x: hidden; 
}

.staticheader{
	color: #E6255B;
}

.navbar{
	background:url('/assets/dark_embroidery.png');
	border-radius: 0;

}

.navbar-brand {
	color: #E8851C;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 3em;
}





h1, h2, h3 {
	margin: 0;
	padding: 0;
}